---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Oficiální dokumenty — WW-CB">
  <div class="box">
    <h2 class="box-title">Zatím zde nic není ☹️</h2>
    <p></p>
  </div>
</Layout>
