---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Jídlo / Správa areálu — WW-CB">
  <div class="box-grid">
    <div class="box">
      <h2 class="box-title">Jídlo</h2>
      <img src="/images/sponsor5.png" alt="Jídlo"/>
      <p>Hospoda ve vodáckém areálu, pod vodáckým vedením, zdaleka nejen pro vodáky.</p>
      <p>Minutky i hotovky. Po předchozí domluvě lze zajistit stravování pro celou skupinu (polopenze, plná penze).
      Otevřeno denně od dubna do září.</p>
      <img src="/images/nakanale.png" alt="Jídlo"/>
    </div>
    <div class="box">
      <h2 class="box-title">Správa areálu a ubytování</h2>
      <img src="/images/sponsor6.png" alt="Správa areálu a ubytování"/>
      <ul>
        <li>Plánování tréninků</li>
        <li>Ubytovna</li>
        <li>Kemp</li>
        <li>Půjčovna vybavení</li>
      </ul>
      <p>Kontakt: info@raftingcb.cz</p>
      <img src="/images/kanal.png" alt="Správa areálu a ubytování"/>
    </div>
  </div>
</Layout>
